.whole-report-wrapper {
    background-color: rgba(240, 248, 255, 0.8);
    border-radius: 20px;
    width: 70%;
    max-width: 900px;
    margin: 2em auto;
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 750px;
}

.whole-report-container {
    position: relative;
}

.save-report, .saved-checkmark {
    position: absolute;
    right: -30px;
    top: -97px;
}

.saved-checkmark {
    width: 45px;
}

.user-report-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.zodiac-container {
    display: flex;
    justify-content: space-between;
}

.report-icon {
    border-radius: 50%;
    width: 125px;
    height: auto;
    border: 5px dashed #a99cd7;
}

.report-score {
    font-size: 4em;
    margin: 30px;
    font-family: 'Pacifico', cursive;
    width: 209px;
    height: 169px;
    padding: 39px 10px 10px;    
    margin: auto;
    background-image: url('./blur-heart-pink.png');
}

.spinner {
    width: 200px;
}

.wiki-warning {
    font-size: 1em;
    margin-bottom: 35px;
}

.disabled {
    display: none;
}

@media screen and (max-width: 1240px){
    .whole-report-wrapper {
        overflow-y: auto;
        border-radius: 20px 5px 5px 20px;
    }
}

@media screen and (max-width: 1060px){
    .save-report, .saved-checkmark {
        top: -123px;
    }
    .whole-report-wrapper > h1 {
        padding-top: 50px;
    }
}

@media screen and (max-width: 600px){
    .user-report-container {
        flex-direction: column;
        width: 180px;
        margin: auto;
    }
    .whole-report-wrapper {
        width: 60%;
    }
}

@media screen and (max-width: 561px){
    .save-report, .saved-checkmark {
        top: -15%;
    }
}