.whole-report-wrapper {
    background-color: rgba(240, 248, 255, 0.8);
    border-radius: 20px;
    width: 70%;
    margin: auto;
    padding: 50px;
}

.whole-report-container {
    position: relative;
}

.save-report, .saved-checkmark {
    position: absolute;
    right: 0;
    top: -20%;
}

.user-report-container {
    display: flex;
    justify-content: space-around;
}

.report-icon {
    border-radius: 50%;
    width: 125px;
    height: auto;
    border: 5px dashed white;
}

.report-score {
    font-size: 4em;
}

.disabled {
    display: none;
}