.whole-report-wrapper {
    background-color: rgba(240, 248, 255, 0.8);
    border-radius: 20px;
    width: 70%;
    max-width: 800px;
    margin: 2em auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whole-report-container {
    position: relative;
}

.save-report, .saved-checkmark {
    position: absolute;
    right: 0;
    top: -30%;
}

.saved-checkmark {
    width: 45px;
}

.user-report-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.zodiac-container {
    display: flex;
    justify-content: space-around;
}

.report-icon {
    border-radius: 50%;
    width: 125px;
    height: auto;
    border: 5px dashed #a99cd7;
}

.report-score {
    font-size: 4em;
    margin: 30px;
}

.spinner {
    width: 200px;
}

.disabled {
    display: none;
}