.saved-report-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.saved-report-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    min-height: 250px;
    margin: 35px;
    flex-wrap: wrap;
    max-height: 582px;
    overflow-y: auto;
}

.saved-report {
    border: 3px ridge #4b37b0;
    background-color: rgba(240, 248, 255, 0.80);
    border-radius: 10px;
    padding: 10px;
    width: auto;
    margin: 20px;
    box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
}

.zodiac-icon {
    width: 50px;
}

.report-details-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: inherit;
}

.saved-user-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.saved-score {
    font-size: 1.6em;
    width: 69px;
    background-size: contain;
    height: 62px;
    padding: 13px;
}
.saved-report-icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px dashed #a99cd7;
}

.delete-btn {
    width: 18px;
    align-self: flex-end;
    transition: 0.3s ease;
}

.btn {
    background-color: transparent;
    border: none;
    width: 30px;
}

.delete-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.delete-btn:active {
    transform: scale(0.95); 
}

.view-report-btn {
    align-self: center;
}

@media screen and (max-width: 600px){
    .saved-report {
        width: auto;
    }
}