.user-wrapper, .user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-wrapper {
    height: calc(100vh - 120px);
}

.user-form-container {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    margin: 20px;
}

.user-form {
    align-items: flex-start;
}

input {
    border: none;
    height: 30px;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    padding: 5px 10px;
    font-size: 1em;
}

.icon-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.user-icon {
    border-radius: 50%;
    display: block;
    width: 90%;
    height: 90%;
    border: 5px dashed white;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 5px dashed white;
    background-color: rgba(34, 34, 34, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-overlay p {
    text-align: center;
    color: #fff; 
    font-size: 18px;
    margin-top: 40%;
}

.icon-container:hover .image-overlay {
    opacity: 1;
    cursor: pointer;
}

.pencil-icon {
    width: 20px;
}

.form-error {
    color: red;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    align-self: center;
    margin: 20px auto 0px;
}

.next-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
}

.next-page {
    all: unset;
    width: 80px;
    align-self: center;
}

.next-arrow {
    transition: transform 0.3s ease;
}

.next-arrow:hover {
    cursor: pointer;
    transform: translateX(15px);
}

.next-page:hover {
    background-color: transparent;
}

@media screen and (max-width: 600px){
    .user-form-container {
        flex-direction: column;
        width: auto;
    }
}

