.all-characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem;
    margin: 5rem;
    align-items: start;
}

.character-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    overflow: hidden;
    transition: .3s ease all;
}

.character-container > img {
    height: 300px;
    align-self: center;
}