.match-container {
    display: flex;
    justify-content: flex-end;
}

.characters-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px 50px 50px;
}

.all-characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 10px;
    align-items: start;
    border: 4px ridge #4b37b0;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    background-color: #abbfd8;
    overflow-y: auto;
    height: 500px;
    max-width: 710px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #4b37b0;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4b37b0;
}

::-webkit-scrollbar-track {
    background-color: #b4a6e5dd;
    border-radius: 10px;
}

.character-container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    margin: 0;
}

.character-container > img {
    height: 100px;
    align-self: center;
    transition: .3s ease all;
    border-radius: 50%;
    transition: 0.3s ease;
}

.character-container > img:hover {
    cursor: pointer;
    transform: translateY(5px)
}

.user-container {
    border: 2px ridge rebeccapurple;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ccc5ddc9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.current-user-icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px dashed white;
}

.selected {
    filter: drop-shadow(0px 0px 25px #4b37b0);
    text-shadow: 0 0 10px #4b37b0;
    color: #f1eeff;
}

.filter-btn-container {
    align-self: flex-start;
}

.filter-btn {
    border-radius: 8px 8px 0px 0px;
    color: #271c5c;
    border: 2px outset #abbfd8;
    background-color: #abbfd8;
    border-bottom: none;
}

.chosen {
    color: aliceblue;
    background-color: #4b37b0;
    border: 2px outset #271c5c;
    border-bottom: none;
}