body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  background-image: url('https://u.cubeupload.com/User713646/pxfuelfull.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(30px);
}
